.App {
  text-align: center;
}

.App-logo {
  height:10vmin;
  pointer-events: none;
}



.App-log {
  height: 10vmin;
  pointer-events: none;
}

.App-logl {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-log {
    animation: App-log-spin infinite 1s linear;
  }
}

.Appl-header {
  background-color: #000000;
  font-size: calc(1px + 2vmin);
  color: rgb(109, 194, 228);
  padding: 5px;
  max-height: 50px;
}

.Apple-header {
  background-color: #141111;
  min-height: 1vh;
  text-align: center;
  min-width: 1px;
  align-items: right;
  justify-content: right;
  font-size: calc(1px + 2vmin);
  color: rgb(0, 183, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: #010c118a;
  min-height: 0vh;
  min-width: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 183, 255);
}

.App-header-form {
  background-color: #1f1718;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 183, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  margin: 20px auto;
}


.App-header-form1 {
  background-color: #000000b4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(0, 183, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}



.App-link {
  color: #f3a0a0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-log-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
